{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Listings</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Available Listings</h1>
    <form method="GET" action="{% url 'listings:listings_page' %}">
    
    <input type="text" name="query" placeholder="Search by title, description or location..." value="{{ request.GET.query }}">
    <select name="location">
        <option value="">All Locations</option>
        {% for loc in locations %}
            <option value="{{ loc }}" {% if loc == location %}selected{% endif %}>{{ loc }}</option>
        {% endfor %}
    </select>
    <select name="price_range">
        <option value="">All Prices</option>
        <option value="0-5000" {% if price_range == '0-5000 '%}selected{% endif %}>Below 5,000</option>
        <option value="5000-10000" {% if price_range == '5000-10000' %}selected{% endif %}>5,000 - 10,000</option>
        <option value="10000+" {% if price_range == '10000+' %}selected{% endif %}>Above 10,000</option>
    
    </select>
    <input type="text", name="location", placeholder="Location..." value="{{ location }}">
    <input type="number" name="min_price" placeholder="Min Price" value="{{ min_price }}">
    <input type="number" name="max_price" placeholder="Max Price" value="{{ max_price }}">
    <button type="submit">Search & Filter</button>
    </form>
    {% if page_obj %}
        <div class="listings-grid">
            {% for listing in page_obj %}
                <div class="listing-card">
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
                    {% endif %}
                    <a href="{% url 'listings:listing_detail' listing.slug %}">
                         <h2>{{ listing.title }}</h2>
                    </a>
                    <p>{{ listing.description|truncatechars:100 }}</p>
                    <p><strong>Price:</strong> KES {{ listing.price }}</p>
                    <p><strong>Location:</strong> {{ listing.location }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% else %}
        <p>No listings found.</p>
    {% endif %}


</body>

</html>
